body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #48D1CC;
	font-size: 0.75em;
}

header,
main,
footer {
	background-color: #AFEEEE;
	font-size: 1.5em;
    margin: 0;
    padding: 1em 0;
}

header {
	padding: 1em 0;
}

h1 {
	text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1.2em;
}

li.instrument {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
}

p {
	padding: 1em;
}

footer {
	text-align: center;
}
